<table border=2>
  <tr>
    <% sessions.each do |session| -%>
    <td>
      <%= session.system_name %>
    </td>
    <td>
      <%= link_to session.scenario_name, t_session_path(session.id) %>
    </td>
    <td>
      <% if session.users.find_by_id(@current_user) -%>
      <%= Player.find_by_t_session_id_and_user_id(session, @current_user).player_type #TODO:汚いので後で書き直す
      %>
      <% else -%>
      未参加
      <% end -%>
    </td>
  </tr>
  <% end -%>
</table>
