/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
#floor {
　 width : 100%;
   border: 1px solid #FF9900;
}

#left-box {
  float: left;
  width: 48%;
  border-right: 2px solid #FF9900;
  padding: 15px;
}

#right-box {
  float: right;
/*  background-color: #FF9900;*/
  width: 48%;
  padding: 5px;
  margin: 5px;
}